---
import { FraseMotivacional } from "./FraseMotivacional";
import HeaderButton from "./HeaderButton.astro";
---
<div class="p-10">    
    <div class="text-4xl flex flex-col justify-center items-center">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-white">
            Feliz cumple Boni 🥳
        </h2>                                
        <img class="rounded-full ml-2" src="/jack-skellington-birthday.gif" alt="Descripción del GIF animado">       
        <FraseMotivacional client:load />
    </div>    
    
    <nav class="flex flex-col items-center justify-center w-full text-center md:flex-row pt-4">        
        <HeaderButton class="text-white canvas-confetti-btn animate__animated" href="/characters">Dame click 😉</HeaderButton>
    </nav>
</div>