
<div class="flex justify-center w-full">
    <lite-youtube class="aspect-auto" videoid="WYG5ZBtepQs" playlistid="PLyUrByHiYET80j2mPuZqU9jTe5UqX52T3" autoload> </lite-youtube>
</div>

<script>
    import "@justinribeiro/lite-youtube"
</script>